<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtm.compras.mapper.TProveedorMapper" >
  <resultMap id="BaseResultMap" type="com.rtm.compras.bean.TProveedor" >
    <id column="in_idproveedor" property="in_idproveedor" jdbcType="INTEGER" />
    <result column="vc_nomproveedor" property="vc_nomproveedor" jdbcType="VARCHAR" />
    <result column="vc_rucproveedor" property="vc_rucproveedor" jdbcType="VARCHAR" />
    <result column="vc_dirproveedor" property="vc_dirproveedor" jdbcType="VARCHAR" />
    <result column="vc_tel1proveedor" property="vc_tel1proveedor" jdbcType="VARCHAR" />
    <result column="vc_tel2proveedor" property="vc_tel2proveedor" jdbcType="VARCHAR" />
    <result column="vc_corrproveedor" property="vc_corrproveedor" jdbcType="VARCHAR" />
    <result column="vc_usuingresa" property="vc_usuingresa" jdbcType="VARCHAR" />
    <result column="dt_fecingresa" property="dt_fecingresa" jdbcType="TIMESTAMP" />
    <result column="vc_usumodifica" property="vc_usumodifica" jdbcType="VARCHAR" />
    <result column="dt_fecmodifica" property="dt_fecmodifica" jdbcType="TIMESTAMP" />
    <result column="bt_habilitado" property="bt_habilitado" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    in_idproveedor, vc_nomproveedor, vc_rucproveedor, vc_dirproveedor, vc_tel1proveedor, 
    vc_tel2proveedor, vc_corrproveedor, vc_usuingresa, dt_fecingresa, vc_usumodifica, 
    dt_fecmodifica, bt_habilitado
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from dbo.t_proveedor
    where in_idproveedor = #{in_idproveedor,jdbcType=INTEGER}
  </select>
  <select id="ObtenerRegistros" resultMap="BaseResultMap" parameterType="com.rtm.compras.bean.TProveedor" >
    select in_idproveedor, vc_nomproveedor, vc_rucproveedor, vc_dirproveedor, vc_tel1proveedor, 
    vc_tel2proveedor, vc_corrproveedor, vc_usuingresa, dt_fecingresa, vc_usumodifica, 
    dt_fecmodifica, bt_habilitado
    from t_proveedor where 1 = 1 
    <if test="in_idproveedor != null" >
        and in_idproveedor = #{in_idproveedor,jdbcType=INTEGER}
    </if>
    <if test="vc_nomproveedor != null and vc_nomproveedor != ''" >
        and vc_nomproveedor = #{vc_nomproveedor,jdbcType=VARCHAR}
    </if>
    <if test="vc_rucproveedor != null and vc_rucproveedor != ''" >
        and vc_rucproveedor = #{vc_rucproveedor,jdbcType=VARCHAR}
    </if>
    <if test="vc_dirproveedor != null and vc_dirproveedor != ''" >
        and vc_dirproveedor = #{vc_dirproveedor,jdbcType=VARCHAR}
    </if>
    <if test="vc_tel1proveedor != null and vc_tel1proveedor != ''" >
        and vc_tel1proveedor = #{vc_tel1proveedor,jdbcType=VARCHAR}
    </if>
    <if test="vc_tel2proveedor != null and vc_tel2proveedor != ''" >
        and vc_tel2proveedor = #{vc_tel2proveedor,jdbcType=VARCHAR}
    </if>
    <if test="vc_corrproveedor != null and vc_corrproveedor != ''" >
        and vc_corrproveedor = #{vc_corrproveedor,jdbcType=VARCHAR}
    </if>
    <if test="vc_usuingresa != null and vc_usuingresa != ''" >
        and vc_usuingresa = #{vc_usuingresa,jdbcType=VARCHAR}
    </if>
    <if test="dt_fecingresa != null" >
        and dt_fecingresa = #{dt_fecingresa,jdbcType=TIMESTAMP}
    </if>
    <if test="vc_usumodifica != null and vc_usumodifica != ''" >
        and vc_usumodifica = #{vc_usumodifica,jdbcType=VARCHAR}
    </if>
    <if test="dt_fecmodifica != null" >
        and dt_fecmodifica = #{dt_fecmodifica,jdbcType=TIMESTAMP}
    </if>
    <if test="bt_habilitado != null" >
        and bt_habilitado = #{bt_habilitado,jdbcType=TINYINT}
    </if>
  </select>
  <select id="ObtenerUnRegistro" resultMap="BaseResultMap" parameterType="com.rtm.compras.bean.TProveedor" >
    select in_idproveedor, vc_nomproveedor, vc_rucproveedor, vc_dirproveedor, vc_tel1proveedor, 
    vc_tel2proveedor, vc_corrproveedor, vc_usuingresa, dt_fecingresa, vc_usumodifica, 
    dt_fecmodifica, bt_habilitado
    from t_proveedor where 1 = 1 
    <if test="in_idproveedor != null" >
        and in_idproveedor = #{in_idproveedor,jdbcType=INTEGER}
    </if>
    <if test="vc_nomproveedor != null and vc_nomproveedor != ''" >
        and vc_nomproveedor = #{vc_nomproveedor,jdbcType=VARCHAR}
    </if>
    <if test="vc_rucproveedor != null and vc_rucproveedor != ''" >
        and vc_rucproveedor = #{vc_rucproveedor,jdbcType=VARCHAR}
    </if>
    <if test="vc_dirproveedor != null and vc_dirproveedor != ''" >
        and vc_dirproveedor = #{vc_dirproveedor,jdbcType=VARCHAR}
    </if>
    <if test="vc_tel1proveedor != null and vc_tel1proveedor != ''" >
        and vc_tel1proveedor = #{vc_tel1proveedor,jdbcType=VARCHAR}
    </if>
    <if test="vc_tel2proveedor != null and vc_tel2proveedor != ''" >
        and vc_tel2proveedor = #{vc_tel2proveedor,jdbcType=VARCHAR}
    </if>
    <if test="vc_corrproveedor != null and vc_corrproveedor != ''" >
        and vc_corrproveedor = #{vc_corrproveedor,jdbcType=VARCHAR}
    </if>
    <if test="vc_usuingresa != null and vc_usuingresa != ''" >
        and vc_usuingresa = #{vc_usuingresa,jdbcType=VARCHAR}
    </if>
    <if test="dt_fecingresa != null" >
        and dt_fecingresa = #{dt_fecingresa,jdbcType=TIMESTAMP}
    </if>
    <if test="vc_usumodifica != null and vc_usumodifica != ''" >
        and vc_usumodifica = #{vc_usumodifica,jdbcType=VARCHAR}
    </if>
    <if test="dt_fecmodifica != null" >
        and dt_fecmodifica = #{dt_fecmodifica,jdbcType=TIMESTAMP}
    </if>
    <if test="bt_habilitado != null" >
        and bt_habilitado = #{bt_habilitado,jdbcType=TINYINT}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_proveedor
    where in_idproveedor = #{in_idproveedor,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtm.compras.bean.TProveedor" >
    insert into t_proveedor (in_idproveedor, vc_nomproveedor, 
      vc_rucproveedor, vc_dirproveedor, vc_tel1proveedor, 
      vc_tel2proveedor, vc_corrproveedor, vc_usuingresa, 
      dt_fecingresa, vc_usumodifica, dt_fecmodifica, 
      bt_habilitado)
    values (#{in_idproveedor,jdbcType=INTEGER}, #{vc_nomproveedor,jdbcType=VARCHAR}, 
      #{vc_rucproveedor,jdbcType=VARCHAR}, #{vc_dirproveedor,jdbcType=VARCHAR}, #{vc_tel1proveedor,jdbcType=VARCHAR}, 
      #{vc_tel2proveedor,jdbcType=VARCHAR}, #{vc_corrproveedor,jdbcType=VARCHAR}, #{vc_usuingresa,jdbcType=VARCHAR}, 
      #{dt_fecingresa,jdbcType=TIMESTAMP}, #{vc_usumodifica,jdbcType=VARCHAR}, #{dt_fecmodifica,jdbcType=TIMESTAMP}, 
      #{bt_habilitado,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.rtm.compras.bean.TProveedor" >
    insert into t_proveedor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="in_idproveedor != null" >
        in_idproveedor,
      </if>
      <if test="vc_nomproveedor != null" >
        vc_nomproveedor,
      </if>
      <if test="vc_rucproveedor != null" >
        vc_rucproveedor,
      </if>
      <if test="vc_dirproveedor != null" >
        vc_dirproveedor,
      </if>
      <if test="vc_tel1proveedor != null" >
        vc_tel1proveedor,
      </if>
      <if test="vc_tel2proveedor != null" >
        vc_tel2proveedor,
      </if>
      <if test="vc_corrproveedor != null" >
        vc_corrproveedor,
      </if>
      <if test="vc_usuingresa != null" >
        vc_usuingresa,
      </if>
      <if test="dt_fecingresa != null" >
        dt_fecingresa,
      </if>
      <if test="vc_usumodifica != null" >
        vc_usumodifica,
      </if>
      <if test="dt_fecmodifica != null" >
        dt_fecmodifica,
      </if>
      <if test="bt_habilitado != null" >
        bt_habilitado,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="in_idproveedor != null" >
        #{in_idproveedor,jdbcType=INTEGER},
      </if>
      <if test="vc_nomproveedor != null" >
        #{vc_nomproveedor,jdbcType=VARCHAR},
      </if>
      <if test="vc_rucproveedor != null" >
        #{vc_rucproveedor,jdbcType=VARCHAR},
      </if>
      <if test="vc_dirproveedor != null" >
        #{vc_dirproveedor,jdbcType=VARCHAR},
      </if>
      <if test="vc_tel1proveedor != null" >
        #{vc_tel1proveedor,jdbcType=VARCHAR},
      </if>
      <if test="vc_tel2proveedor != null" >
        #{vc_tel2proveedor,jdbcType=VARCHAR},
      </if>
      <if test="vc_corrproveedor != null" >
        #{vc_corrproveedor,jdbcType=VARCHAR},
      </if>
      <if test="vc_usuingresa != null" >
        #{vc_usuingresa,jdbcType=VARCHAR},
      </if>
      <if test="dt_fecingresa != null" >
        #{dt_fecingresa,jdbcType=TIMESTAMP},
      </if>
      <if test="vc_usumodifica != null" >
        #{vc_usumodifica,jdbcType=VARCHAR},
      </if>
      <if test="dt_fecmodifica != null" >
        #{dt_fecmodifica,jdbcType=TIMESTAMP},
      </if>
      <if test="bt_habilitado != null" >
        #{bt_habilitado,jdbcType=TINYINT},
      </if>
    </trim>
    <selectKey resultType="int" keyProperty="in_idproveedor" order="AFTER" >
      SELECT @@IDENTITY as in_idproveedor;
    </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtm.compras.bean.TProveedor" >
    update t_proveedor
    <set >
      <if test="vc_nomproveedor != null" >
        vc_nomproveedor = #{vc_nomproveedor,jdbcType=VARCHAR},
      </if>
      <if test="vc_rucproveedor != null" >
        vc_rucproveedor = #{vc_rucproveedor,jdbcType=VARCHAR},
      </if>
      <if test="vc_dirproveedor != null" >
        vc_dirproveedor = #{vc_dirproveedor,jdbcType=VARCHAR},
      </if>
      <if test="vc_tel1proveedor != null" >
        vc_tel1proveedor = #{vc_tel1proveedor,jdbcType=VARCHAR},
      </if>
      <if test="vc_tel2proveedor != null" >
        vc_tel2proveedor = #{vc_tel2proveedor,jdbcType=VARCHAR},
      </if>
      <if test="vc_corrproveedor != null" >
        vc_corrproveedor = #{vc_corrproveedor,jdbcType=VARCHAR},
      </if>
      <if test="vc_usuingresa != null" >
        vc_usuingresa = #{vc_usuingresa,jdbcType=VARCHAR},
      </if>
      <if test="dt_fecingresa != null" >
        dt_fecingresa = #{dt_fecingresa,jdbcType=TIMESTAMP},
      </if>
      <if test="vc_usumodifica != null" >
        vc_usumodifica = #{vc_usumodifica,jdbcType=VARCHAR},
      </if>
      <if test="dt_fecmodifica != null" >
        dt_fecmodifica = #{dt_fecmodifica,jdbcType=TIMESTAMP},
      </if>
      <if test="bt_habilitado != null" >
        bt_habilitado = #{bt_habilitado,jdbcType=TINYINT},
      </if>
    </set>
    where in_idproveedor = #{in_idproveedor,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtm.compras.bean.TProveedor" >
    update t_proveedor
    set vc_nomproveedor = #{vc_nomproveedor,jdbcType=VARCHAR},
      vc_rucproveedor = #{vc_rucproveedor,jdbcType=VARCHAR},
      vc_dirproveedor = #{vc_dirproveedor,jdbcType=VARCHAR},
      vc_tel1proveedor = #{vc_tel1proveedor,jdbcType=VARCHAR},
      vc_tel2proveedor = #{vc_tel2proveedor,jdbcType=VARCHAR},
      vc_corrproveedor = #{vc_corrproveedor,jdbcType=VARCHAR},
      vc_usuingresa = #{vc_usuingresa,jdbcType=VARCHAR},
      dt_fecingresa = #{dt_fecingresa,jdbcType=TIMESTAMP},
      vc_usumodifica = #{vc_usumodifica,jdbcType=VARCHAR},
      dt_fecmodifica = #{dt_fecmodifica,jdbcType=TIMESTAMP},
      bt_habilitado = #{bt_habilitado,jdbcType=TINYINT}
    where in_idproveedor = #{in_idproveedor,jdbcType=INTEGER}
  </update>
</mapper>